<%= turbo_frame_tag "toggler" do %>
  <h3 class="text-muted">Мои сертификаты</h3><br>

  <% @certificates.each do |certificate| %>
    <div class="border rounded p-3 my-5 border border-success">
      <small>
        <%= certificate.title %>
      </small>
      <small class="text-success">
        <%= certificate.school %>
      </small><br>
      <%= image_tag(image_url(certificate.image), height: 350) %>
    </div><br>
  <% end %>
<% end %>
