<%= turbo_frame_tag "toggler" do %>
	<h1 class="text-muted">Мои учебные проекты</h1><br>

	<div class="border rounded p-3 my-5 border border-success">
		<h1 class="display-6">
			<%= link_to 'Мой GitHub аккаунт', 'https://github.com/TheGor-365', target: :_blank, class: 'text-success' %>
		</h1><br><br>

    <p>Страница в разработке, пока доступны только исходники на гитхаб</p>

		<!-- <p>
			<span class="text-muted">Идея:</span><br>
			<small>Быстро создать гайд, туториал, тех. документацмю, how to шаблон и другие виды инструкций для технологии или продукта.</small><br><br>
			<span class="text-muted">Для кого:</span><br>
			<small>Приложение для разработчиков и др. специалистов</small>
		</p> -->
	</div><br>
<% end %>
