<%= turbo_frame_tag "toggler" do %>
  <h3 class="text-muted">Обо мне</h3><br>
  <p>
    <span class="text-muted">Здравствуйте</span><br>
    <small>Я junior ruby / ruby on rails разработчик (самообучение с 2020 по 2023 г.).</small><br><br>
    <small>
      Знаком с SQLite3 и PostgreSQL (на уровне прикрутить к приложению, определиться со структурой данных и ассоциациями, сделать миграции, прописать базовые запросы на SQL или с помощью mapper'a).
    </small><br><br>

    <small>
      JavaScript на базовом уровне (немного практиковал, copy / past в основном), но готов подтягивать всячески (доп. курсы, учеба на практике). Использовал, в основном, для frontend'a (эффекты и события на стороне клиента).
    </small><br><br>

    <span class="text-muted">Почему я выбрал web разработку как свою профессию?</span><br>
    <small>
      Из-за эффективности и мощности. Я люблю решать задачи, преодолевать свои пределы, изучать и создавать. В этой профессии это нужно делать каждый день, и мне это нравится.
    </small><br><br>

    <span class="text-muted">Почему я хочу работать в компании, а не индивидуально?</span><br>
    <small>
      Только в комрании смогу столкнуться с большим, сложным проектом, опытной командой м стать профессмоналом.
    </small><br><br>

    <small>
      Буду рад пройти собеседование.
    </small><br><br><br>

    <span class="text-muted">С уважением, Гор Хачатрян.</span><br><br>
  </p>
  <hr><br>
<% end %>
